.split {
    display: flex;
    flex-direction: row;
}
.text {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 15px;
}
.image {
    flex-grow: 2;

}
.me-image {
    
    align-items: center;
    object-fit: contain;
    justify-content: center;
    margin: auto;
    min-width: 200px;
    border-radius: 13px;
}
