// .double-list {
//     display: flex;
//     flex-direction: row;
//     column-gap: 30px;
// }
  
// .left-list {
// display: flex;
// flex-grow: 1;
// flex-direction: column;

// }

// .right-list {
// display: flex;
// flex-grow: 2;
// flex-direction: column;

// }

.split {
    display: flex;
    flex-direction: row;
}
.text {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 15px;
}
.image {
    flex-grow: 2;

}
.me-image {
    
    align-items: center;
    object-fit: contain;
    justify-content: center;
    margin: auto;
    min-width: 200px;
    // max-width: 50%;
    // max-height: 50%;
    border-radius: 13px;
}
